// % denotes placeholder rule, won't compile in CSS
%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;
    background: linear-gradient(269.84deg, $fire 0%, $earth 51.04%, $wind 100%);

    .site-title {
        font-size: $font-size-xl;
    }
    .container {
        @extend %flex-layout;
    }
}

// @each $key, $val in $colors {
//     .navbar-#{$key} {
//         @extend .navbar;
//         background-color: $val;
//     }
// }