// import google font
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:wght@700&display=swap');

/* reset styles */
* {
    color: inherit;
    margin: 0;
  }
  
  body {
    font-family: Raleway;
  }

  h1, h2, h3 {
    font-family: Roboto Condensed;
  }

  button {
    font-family: Roboto Condensed;
  }

  p {
    font-family: Roboto Condensed;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  hr {
    border: 0;
    border-top: 1px dotted #efefef;
  }
  
  img {
    max-width: 100%;
  }