// theme color variables
$wind: #B7D2BF;
$earth: #E1C7B1;
$fire: #BDACC1;

// color palettes
$colors: (
    "wind": $wind,
    "earth": $earth,
    "fire": $fire,
    "gray": #808080,
    "black": #000,
    "white": #fff
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 100px;

// box-shadow
$base-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;